
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

.thumbnail {
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
    .img-event {
        float: left;
        width: 30%;
    }
    .list-group-image {
        margin-right: 10px;
    }
    .thumbnail {
        margin-bottom: 0px;
        display: inline-block;
    }
    .caption {
        float: left;
        width: 70%;
        margin: 0;
    }
    &:before {
        display: table;
        content: " ";
    }
    &:after {
        display: table;
        content: " ";
        clear: both;
    }
}

.store-body {
    display: flex;
    flex-direction: row;
    padding: 0;
    .product-info {
        width: 60%;
        border-right: 1px solid rgba(0, 0, 0, 0.125);
    }
    .product-payment-details {
        width: 40%;
        padding: 15px 15px 0 15px;
    }
}

.product-info .product-gallery {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.product-gallery-featured {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0;
    cursor: zoom-in;
}

.product-gallery-thumbnails .thumbnails-list li {
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
}

.thumbnails-list li img {
    display: block;
    width: 100%;
}

.product-gallery-thumbnails .thumbnails-list li:hover::before {
    content: "";
    width: 3px;
    height: 100%;
    background: #007bff;
    position: absolute;
    top: 0;
    left: 0;
}

.product-info .product-seller-recommended {
    padding: 20px 20px 0 20px;
}

.product-comments textarea {
    height: 50px;
}

.last-questions-list li {
    margin-bottom: 20px;
    span {
        padding-left: 10px;
    }
}
